:root {
  /* --primary: #d81b60; */
  /* --primary: #e53935; */
  /* --primary: #8e24aa;
  #5e35b1 #3949ab #1e88e5 #039be5 #00acc1 #00897b #43a047 #7cb342 #c0ca33 #fdd835 #ffb300 #fb8c00 #f4511e #757575 #546e7a */
  --nav-border-color: #73828c33;

  --pink: #d81b60;
  --red: #e53935;
  --violet: #8e24aa;
}
