hr {
  margin: 10px 0;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  background-image: url('/wave.svg');
  background-position: bottom;
}

nav {
  position: fixed;
  background: var(--background-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
  z-index: 100;
}

main {
  padding-top: calc(var(--block-spacing-vertical) + 3.5rem);
  padding-bottom: calc(var(--block-spacing-vertical));
}

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
